{# https://arxiv.org/html/2409.12524v1 #}
请将以下对话的重要性评为1到10分，1表示非常普通（如刷牙或整理床铺），10表示非常重要（如分手或大学录取）。请根据该对话在以后的交流中是否有用来进行评分。

以下是过往对话的摘要：{{ key_summary }}
这是对话内容：{{ content }}

请只输出数字，不需要任何解释。只需输出数字！